.language-selector {
    z-index: 10;
  }
  /* .language-icon {
    display: inline-flex;
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
    border-radius: 50%;
    border: 1px solid #ced4da;
    color: #212529;
  } */
  .language-icon {
    display: inline-flex;
    width: 38px;
    height: 38px;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    border-radius: 50%;
    border: 1px solid #ced4da;
    color: #212529;
  }
  
  .language-selector .dropdown-menu {
    min-width: auto;
    padding: 0.25rem;
  }
  .language-selector .language-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .language-selector .dropdown-menu {
    min-width: 6rem;
    z-index: 1050;
  }
  .language-selector.highlighted .language-icon {
    border: 2px solid #0d6efd;
    border-radius: 50%;
    padding: 2px 6px;
    background-color: #e7f1ff;
  }
