.voice-recorder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #e9ecef;
  cursor: pointer;
  position: relative;
}

/* .voice-recorder .swipe-hint,
  .voice-recorder .locked-hint {
    position: absolute;
    top: -20px;
    font-size: 10px;
    white-space: nowrap;
    color: #6c757d;
  } */
/* .voice-recorder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    cursor: pointer;
  } */

.voice-recorder {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dot-animation {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}